<footer class="site-footer">
  <div class="footer__inner">
    <div class="footer__links">
      {% if site.footer and site.footer.links %}
        <ul class="social-icons">
          {% for link in site.footer.links %}
            <li>
              <a href="{{ link.url }}" title="{{ link.label }}">
                <i class="{{ link.icon }}"></i> {{ link.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="footer__custom">
      <p>&copy; {{ site.time | date: '%Y' }} Jimmir Miranda. All rights reserved.</p>
      <p>Designed by <a href="https://github.com/Sugarylatics1">Jimmir Miranda</a></p>
    </div>
  </div>
</footer>
